services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    command: uvicorn app.server:app --host 0.0.0.0 --port 8000
